<section class="section_home_faq">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-section-large">
				<div class="text-background-blur"> </div>
				<div class="home_faq_component">
					<div class="margin-bottom margin-xxlarge">
						<div class="max-width-large">
							<div class="margin-bottom margin-small">
								<h2 class="heading-style-h2">FAQs</h2>
							</div>
							<p class="text-size-medium">
								Explore our frequently asked questions about stained-glass
								creation and restoration processes.</p
							>
						</div>
					</div>
					<div class="home_faq_list">
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5b7"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q1"
								>
								</div>
								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a1"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5c2"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q2"
								></div>

								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a2"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5cd"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q3"
								></div>

								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a3"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5cd"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q4"
								></div>

								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a4"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5cd"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q5"
								></div>

								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a5"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5d8"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q4"
								></div>

								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a4"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="home_faq_accordion">
							<div
								data-w-id="f5714e8c-c509-7105-9e84-9de6f26ef5e3"
								class="home_faq_question"
							>
								<div
									class="text-size-medium text-weight-bold"
									data-i18n="faq.q5"
								></div>
								<div class="home_faq_icon-wrapper">
									<div class="icon-embed-small w-embed">
										<svg
											width="100%"
											height="100%"
											viewBox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
												fill="currentColor"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div style="width: 100%; height: 0px" class="home_faq_answer">
								<div class="margin-bottom margin-small">
									<div class="max-width-large">
										<p data-i18n="faq.a5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="margin-top margin-xxlarge">
						<div class="max-width-medium">
							<div class="margin-bottom margin-xsmall">
								<h3 class="heading-style-h4"> Still have questions?</h3>
							</div>
							<p class="text-size-medium">I&#x27;m here to help!</p>
							<div class="margin-top margin-medium">
								<div class="button-group">
									<a href="#" class="button is-secondary w-button"> Contact</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
